mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$(git rev-parse --show-toplevel)" >"$DEVENV_ROOT_FILE"
use flake . --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
